body {
    background-color: lightgray;
    font-family: arial;
}

.container-form {
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 33rem;
    width: 35rem;
    background: url("./../images/fondoLogin.png");
}

img {
    width: 12rem;
    margin-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.textorecuperacion {
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    text-align: left !important;
    margin-left: 3rem;
    font-size: 1.8rem;
}


hr {
    height: 5px !important;
    color: #a9e72c;
    opacity: 1;
    width: 20rem !important;
    margin-top: 0 !important;
    margin-left: 2.9rem;
}

h6 {
    margin-left: 6px;
    font-family: arial;
    font-weight: bold;
    color: white;
}

#formPasswordRecover {
    margin-left: 4rem;
}

.user{
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
    width: 24rem;
}

.buttonRecuperacion {
    background-color: yellowgreen;
    border: 1px transparent;
    border-radius: 9px;
    width: 24rem !important;
    height: 3rem;
    text-transform: uppercase;
    font-weight: bolder;
    transition: all .3s ease-in-out;
    margin-top: 4rem;
    color: white;
}

.buttonRecuperacion:hover {
    background-color: #64dd17;
    color: white;
}

.form-floating>.form-control:-webkit-autofill {
    padding-top: 0.625rem!important;
    padding-bottom: .625rem!important;
}

.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 0.625rem!important;
    padding-bottom: .625rem!important;
    color: white;
}